{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>QTY</th>
                <th>Price</th>
            </tr>
        </thead>

        {% for row in transactions %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>${{ row["price"] }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
